body
{
    margin-left: 4px;
    margin-right: 4px;
}

.ui-footer
{
    text-align: center;    
}

.err
{
    color: red;
}

#test
{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25%;
    margin-bottom: 25%;
    font-size: 2em;
}

#map_canvas
{
    text-align:center;
}